<link href="/assets/css/users/user-profile.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="row">
        <div class="card col-lg-6 col-md-5 col-sm-12 layout-top-spacing">
            <div class="card-body">
                <h4 class="d-flex justify-content-between">
                    {{data.name}}
                    <a href="/report/type/{{data.serviceTypeId}}" target="_blank" class="btn btn-danger bi bi-filetype-pdf"> Reporte</a>
                </h4>
                <p class="text-muted">descripción: <b>{{data.description}}</b></p>

                <div class="mt-4">
                    <h5>Creado por:</h5>
                    <p>
                        <span>usuario</span> <b>{{data.createReference.username}}</b>
                    </p>
                    <p>
                        <span>correo</span> <b>{{data.createReference.email}}</b>
                    </p>
                </div>

                <div class="mt-4">
                    <h5>Producto:</h5>
                    <p>
                        <span>nobmre</span> <b>{{data.stockExpenseReference.name}}</b>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
