<link href="/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
{{!-- <link href="assets/css/dashboard/dash_2.css" rel="stylesheet" type="text/css" /> --}}

<div class="container">
    {{#validRoot user}}
        <div class="row layout-top-spacing">

            <div class="col-xl-3 col-md-4 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-account-invoice-one">
                    <div class="widget-content">
                        <div class="invoice-box">
                            <div class="acc-total-info">
                                <h5>Servicios</h5>
                                <p class="acc-amount">{{../servicesCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-4 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-account-invoice-one">
                    <div class="widget-content">
                        <div class="invoice-box">
                            <div class="acc-total-info">
                                <h5>Usuarios</h5>
                                <p class="acc-amount">{{../userCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-4 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-account-invoice-one">
                    <div class="widget-content">
                        <div class="invoice-box">
                            <div class="acc-total-info">
                                <h5>Equipos</h5>
                                <p class="acc-amount">{{../equipmentCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-4 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-account-invoice-one">
                    <div class="widget-content">
                        <div class="invoice-box">
                            <div class="acc-total-info">
                                <h5>Métodos de pago</h5>
                                <p class="acc-amount">{{../methodCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row layout-top-spacing">
            {{#each ../moneys}}
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                    <div class="widget widget-account-invoice-one">
                        <div class="widget-heading">
                            <h5 class="">{{this.title}}</h5>
                        </div>
                        <div class="widget-content">
                            <div class="invoice-box">
                                <div class="acc-total-info">
                                    <h5>Saldo actual</h5>
                                    <p class="acc-amount">{{this.saldo}} {{this.prefix}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                    <div class="widget widget-account-invoice-one">

                        <div class="widget-heading">
                            <h5 class="">Resumen: transacciones</h5>
                        </div>

                        <div class="widget-content">
                            <div class="invoice-box">
                            
                                <div class="inv-detail">                                        
                                    <div class="info-detail-1">
                                        <a href="/transaction/list">total</a>
                                        <p>{{../transactionCount}}</p>
                                    </div>
                                    <div class="info-detail-2">
                                        <a href="/transaction/list?type=INGRESO">ingreso</a>
                                        <p>{{../ingresoCount}}</p>
                                    </div>
                                    <div class="info-detail-2">
                                        <a href="/transaction/list?type=EGRESO">egreso</a>
                                        <p>{{../egresoCount}}</p>
                                    </div>
                                </div>

                                <div class="inv-action">
                                    <a href="/transaction/list" class="btn btn-dark">Ver transacciones</a>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
        </div>
    {{/validRoot}}

    <div class="row layout-top-spacing">
        <div class="d-flex justify-content-between col-12">
            <span class="lead text-muted">fecha de hoy: {{toDay}}</span>
            <a href="/service/create" class="btn btn-primary">crear</a>
        </div>
        {{#if servicesToDay}}
            <div class="table-responsive">
                <table class="table table-bordered table-striped mb-4">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Monto</th>
                            <th>Descripción</th>
                            <th class="text-center">acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each servicesToDay}}
                            <tr>
                                <td>{{this.transaction.type}}</td>
                                <td>{{this.transaction.mount}} <b>{{this.transaction.methodPaymentReference.moneyReference.prefix}}</b></td>
                                <td>{{this.description}}</td>
                                <td>
                                    <a href="/service/{{this.serviceId}}/show" class="btn py-0 btn-primary">
                                        <i class="bi bi-eye-fill lead"></i>
                                    </a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-6"> 
                <span class="h6">{{nowTotal}}</span>
            </div>

            <div class="paginating-container pagination-default col-6">
                <ul class="pagination">
                    {{#if nowPathOne}}
                        <li class="prev"><a href="{{previous}}">anterior</a></li>
                    {{/if}}
                        <li class=""><span class="px-5">pagina actual {{nowPath}}</span></li>
                    {{#if nowPathEnd}}
                        <li class="next"><a href="{{next}}">siguiente</a></li>
                    {{/if}}
                </ul>
            </div>
        {{else}}
            <p class="text-muted lead">No hay servicios hoy</p>
        {{/if}}
    </div>

</div>
