<link href="/assets/css/tables/table-basic.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/dashboard/dash_2.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/elements/custom-pagination.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="row d-flex justify-content-between mb-2">
        <span></span>
        <div class="">
            {{#validRoot user}}
                <a href="/transaction/create" class="btn btn-primary">crear</a>
            {{/validRoot}}
        </div>
    </div>
    <div class="row">
        {{#if list}}
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped table-sm mb-4">
                    <thead>
                        <tr>
                            <th>Concepto</th>
                            <th>Monto</th>
                            <th>Tipo</th>
                            {{#validRoot user}}
                                <th class="text-center">acciones</th>
                            {{/validRoot}}

                        </tr>
                    </thead>
                    <tbody>
                        {{#each list}}
                            <tr>
                                <td>{{this.concepto}}</td>
                                <td>{{this.mount}}</td>
                                <td>{{this.type}}</td>
                                {{#validRoot ../user}}
                                <td>
                                    <a href="/transaction/{{this.transactionId}}/show" class="btn py-0 btn-primary">
                                        <i class="bi bi-eye-fill lead"></i>
                                    </a>
                                </td>
                                {{/validRoot}}
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <span class="h6">{{nowTotal}}</span>
            </div>

            <div class="paginating-container pagination-default col-6">
                <ul class="pagination">
                    {{#if nowPathOne}}
                        <li class="prev"><a href="{{previous}}">anterior</a></li>
                    {{/if}}
                        <li class=""><span class="px-5">pagina actual {{nowPath}}</span></li>
                    {{#if nowPathEnd}}
                        <li class="next"><a href="{{next}}">siguiente</a></li>
                    {{/if}}
                </ul>
            </div>
        {{else}}
            <p class="text-muted lead">No hay usuario</p>
        {{/if}}
    </div>
</div>
